passlib[bcrypt]
python-jose[cryptography]
fastapi[standard]
uvicorn[standard]
jinja2
Babel
python-multipart
itsdangerous
pillow
pydantic>=2.0.0
email-validator>=2.0.0

# Dependências de teste
pytest
pytest-asyncio
pytest-cov
