<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pré-Cadastro - MedLive</title>
    <link rel="icon" href="/static/img/logo.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a2f8ae1a6f.js" crossorigin="anonymous"></script>
    {% block extra_css %}{% endblock %}
</head>

<body>
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="main-box">
            <div class="col-md-6 img-side d-flex align-items-stretch">
                <img src="/static/img/teleconsulta.webp" alt="Imagem Médico">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="form-section w-100">
                    <a href="/">
                        <img src="/static/img/logo.png" alt="Logo MedLive" class="form-logo">
                    </a>
                    {% block conteudo %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>